.tag-icon > .d-icon {
  margin-right: 4px;
}

.select-kit .tag-icon > .d-icon {
  color: inherit;
  vertical-align: middle;
}

.hashtag-cooked .hashtag-tag-icon .d-icon {
  color: var(--color1, var(--primary));
}

.discourse-tag--tag-icons-style .tag-icon {
  color: var(--color1, var(--tag-text-color));
}

@if $enable_colors_for_tag_labels == "true" {
  .discourse-tag--tag-icons-style {
    &.simple {
      color: var(--color1, var(--tag-text-color));
    }

    &.bullet {
      color: var(--color1, var(--tag-text-color));
    }

    &.box {
      color: var(--color2, var(--tag-text-color));
      background-color: var(--color1, var(--primary-low));

      .tag-icon {
        color: inherit;
      }
    }
  }
}
