.tag-icon > .d-icon {
  margin-right: 4px;
}

.select-kit .tag-icon > .d-icon {
  color: inherit;
  vertical-align: middle;
}

.discourse-tag--colored {
  &.simple {
    color: var(--color1, --tag-text-color);
  }

  &.bullet {
    color: var(--color1, --tag-text-color);
  }

  &.box {
    color: var(--color2, --tag-text-color);
    background: var(--color1, --primary-low);
  }
}

.hashtag-cooked:has(.hashtag-tag-icon) {
  color: var(--color1, --d-sidebar-link-icon-color);
}
